.add-tag-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 340px;
  border: 3px solid black;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -170px;
  padding: 1rem;

  //background-color: rgb(163, 208, 219);
  background-color: white;
  display:none;

  h2 {
    margin-top: 1rem;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid black;
    margin-right: -2rem;
    margin-left: -2rem;
  }
  input {
    margin-top: 1rem;
  }
  #tag-button {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
  }

  .close {
    text-align: center;
    text-decoration: underline;
    margin-top:1rem;
    padding:0;
  }
}
