// See: https://sass-lang.com/

body,
html {
  margin: 0;
  margin-bottom: 2rem;
}

main {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height:100vh;
  width:100vw;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, .4);
  visibility: hidden;
}

@media only screen and (max-width: 650px) {
  main {
    padding-top: 140px;
  }
}
