body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  background: rgb(80, 87, 129);
  background-image: url('/images/asfalt-light.png');
  a {
    text-decoration: none;
  }

  #search-bar {
    width: 50%;
    margin: 2rem 2rem 0 2rem;
  }
  #search-button {
    color:rgb(144, 156, 224);
    border-color: rgb(144, 156, 224);
  }

  h1 {
    font-size: 2.5rem;
    border-bottom: 3px solid rgb(31, 31, 31);
    margin-bottom: 0;
  }
}
