nav {
  height: 100px;
  padding: 3rem;
  font-size: 2rem;

  #login {
    font-size: 1rem;
  }

  a {
    color:white;
  }
  a:hover {
    color: rgb(144, 156, 224);
  }

  .nav-options {
    display:flex;
    flex-direction: row;
    font-size: 1rem;

    button {
      margin: 0 1rem 0 1rem;
    }

    button:hover {
      color: rgb(144, 156, 224);
    }
  }
}

@media only screen and (max-width: 650px) {
  nav {
    height: 140px;
    padding: 1rem;
    button {
      margin: 0 0.2rem 0 0.2rem;
    }
  }
}
