nav {
  height: 100px;
  padding: 3rem;
  font-size: 2rem;

  #login {
    font-size: 1rem;
  }

  .nav-options {
    display:flex;
    flex-direction: row;
    font-size: 1rem;

    button {
      margin: 0 1rem 0 1rem;
    }

    button:hover {
      color: rgb(144, 156, 224);
    }
  }
}
