#resource-wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.resource {
  margin: 2rem 2rem 0 2rem;
  padding: 1rem;
  border: 0.1rem groorgb(121, 121, 121)ack;

  header {

    display:flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid black;
    padding-bottom: 0.5rem;
    margin-left: -1rem;
    margin-right: -1rem;

    a {
      margin-left: 1rem;
    }

    div {
      position:relative;
      margin-right: 2rem;
      i {
        position: absolute;
      }

      i.fa-solid {
        color:red;
      }
    }

  }

  .title-description {
    padding: 1rem;

    p {
      margin: 0;
    }
  }

  .tags {
    padding-bottom: 1rem;
  }

  footer {
    display:flex;
    justify-content: space-between;

    .comments {
      align-items: center;
    }
  }
}

//COMMENT SECTION
.comments {
  display:flex;
  flex-direction: column;
  width: 90%;
  background-color: white;
  padding: 1rem;
  display:none;

  h3 {
    font-size: 1.5rem;
  }

  div {
    padding-top: 1rem;
    border-bottom: 2px solid black;
  }
  p {
    padding-left: 3rem;
  }
}
