#resource-wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.resource {
  margin: 2rem 2rem 0 2rem;
  padding: 1rem;
  border: 0.1rem groorgb(121, 121, 121)ack;
  width: 100%;
  border-radius: 0.5rem;

  header {

    display:flex;
    justify-content: space-between;
    border-bottom: 0.2rem solid rgb(80, 87, 129);
    padding-bottom: 0.5rem;
    margin-left: -1rem;
    margin-right: -1rem;

    a {
      margin-left: 1rem;
      color: rgb(144, 156, 224);
    }

    div {
      position:relative;
      margin-right: 2rem;
      i {
        position: absolute;
      }

      i:hover {
        cursor: pointer;
      }

      i.fa-solid {
        color:red;
      }
    }

  }

  .title-description {
    padding: 1rem;

    p {
      padding-left: 3rem;
      margin: 0;
    }
  }

  .tags {
    padding-bottom: 1rem;

    .badge {
      background-color: rgb(80, 87, 129);
    }
    .add-tag {
      background-color: rgb(144, 156, 224);
    }
  }
  .badge:hover {
    cursor: pointer;
  }

  footer {
    display:flex;
    justify-content: space-between;
    position: relative;

    .comment-dropdown {
      i:hover {
        cursor: pointer;
      }
    }
    .resource-rating {
      margin-top:-1.5rem;
      margin-right: -0.2rem;
    }

    .comments {
      align-items: center;
    }
    .stars {
      position: absolute;
      right: 0;

      i {
        margin: -0.2rem;
      }

      i:hover {
        cursor: pointer;
      }

      i.fa-solid {
        visibility: hidden;
        color: gold;
      }
    }
    .delete-button >*{
      background-color: rgb(144, 156, 224);
      position: absolute;
      right: 40%;
    }
  }
}

//COMMENT SECTION
.comments {
  display:flex;
  flex-direction: column;
  width: 90%;
  background-color: white;
  padding: 1rem;
  display:none;
  border-radius: 0.5rem;
  margin-top:-1rem;

  h3 {
    font-size: 1.5rem;
  }

  div {
    padding-top: 1rem;
    border-bottom: 2px solid rgb(80, 87, 129);
  }
  p {
    padding-left: 3rem;
  }
  .new-comment {
    display:flex;
    flex-direction: column;
    justify-content: right;
    border-bottom:none;
    margin-top: 1rem;

    .new-comment-button {
      background-color: rgb(144, 156, 224);
      margin-top: 0.5rem;
    }
  }
}
